@import '~@angular/material/theming';
@include mat-core();
// GAMA DE COLORES
$my-primary-color: ( 200: #3c3c3c, 500: #000000, 700: #171717, contrast: ( 200: #000000, 500: #ffffff, 700: #ffffff, ));
$my-accent-color: ( 200: #6f6f6f, 500: #1d1d1d, 700: #444444, contrast: ( 200: #000000, 500: #ffffff, 700: #ffffff, ));
$my-warn-color: ( 200: #ff5131, 500: #9c0000, 700: #d60000, contrast: ( 200: #000000, 500: #000000, 700: #000000, ));
// PALETA DE COLORES
$my-palette-primary: mat-palette($my-primary-color);
$my-palette-accent: mat-palette($my-accent-color);
$my-palette-warn: mat-palette($my-warn-color);
// TEMA PROPIO
$my-theme: mat-light-theme(( color: ( primary: $my-palette-primary, accent: $my-palette-accent, warn: $my-palette-warn)));
// APLICAR NUESTRO TEMA A ANGULAR
@include angular-material-theme($my-theme);
// REEMPLAZA EN ANGULAR.JSON -> STYLES
// "./node_modules/@angular/material/prebuilt-themes/indigo-pink.css",
// POR LA RUTA DEL CUSTOM THEME
// "src/assets/styles/my-theme.scss",

/*@include mat.all-component-themes($my-theme);*/


/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    //    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    min-height: 100vh;
    position: relative;
}

body {
    margin: 0;
}

.main {
    padding-top: 4em;
    /**PADDING para separar el MAIN del footer 55px+el doble(110px) = 165px*/
    padding-bottom: 165px;
}

.headerc {
    background: #171717;
    color: #ededed;
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;
}

.colorprimary {
    background: #171717;
    color: #ededed;
}

.icon {
    height: 2em;
    width: 2em;
    background-color: #959595;
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    flex: 0 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    position: relative;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    /* text-align: center; */
}


/*
.mat-badge-content {
    font-weight: 600;
    font-size: 12px;
    font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-badge-small .mat-badge-content {
    font-size: 9px
}

.mat-badge-large .mat-badge-content {
    font-size: 24px
}

.mat-h1,
.mat-headline,
.mat-typography h1 {
    font: 400 24px/32px Roboto, Helvetica Neue, sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px
}

.mat-h2,
.mat-title,
.mat-typography h2 {
    font: 500 20px/32px Roboto, Helvetica Neue, sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px
}

.mat-h3,
.mat-subheading-2,
.mat-typography h3 {
    font: 400 16px/28px Roboto, Helvetica Neue, sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px
}

.mat-h4,
.mat-subheading-1,
.mat-typography h4 {
    font: 400 15px/24px Roboto, Helvetica Neue, sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px
}

.mat-h5,
.mat-typography h5 {
    font: 400 calc(14px * .83) /20px Roboto, Helvetica Neue, sans-serif;
    margin: 0 0 12px
}

.mat-h6,
.mat-typography h6 {
    font: 400 calc(14px * .67) /20px Roboto, Helvetica Neue, sans-serif;
    margin: 0 0 12px
}

.mat-body-2,
.mat-body-strong {
    font: 500 14px/24px Roboto, Helvetica Neue, sans-serif;
    letter-spacing: normal
}

.mat-body,
.mat-body-1,
.mat-typography {
    font: 400 14px/20px Roboto, Helvetica Neue, sans-serif;
    letter-spacing: normal
}

.mat-body-1 p,
.mat-body p,
.mat-typography p {
    margin: 0 0 12px
}

*/